mat-button-toggle-group {
  border-radius: 5px;
}

/* ลดขนาดปุ่มทั้งหมด */
mat-button-toggle {
  font-size: 10px !important;
  min-height: 12px !important; /* ความสูงรวมของปุ่ม */
}

.card {
  border: 1px solid #c4c6d0;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .status-card{
    display: flex;
    flex-direction: column;
    width : 100%;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
    }

  .alert{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  
  .test-box {
    display: flex;
    flex-direction: column;
    height: 216px;
    gap: 20px;

    p {
      font-size: 24px;
      font-weight: 500;
    }
    .car-box {
      border: 1px solid #e7e7e7;
      background-color: #e7e7e7;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 20px 20px 20px 20px;
      gap: 10px;
      .unit {
        .txt-unit {
          font-size: 12px;
          font-weight: 500;
          margin-left: 10px;
          opacity: 0.8;
        }
      }
      span {
        font-size: 24px;
        font-weight: 700;
        opacity: 0.8;
      }
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .solar-box {
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      width: 100%;
      .box-1 {
        background-color: gray;
        text-align: center;
        width: 40%;
      }
      .box-2 {
        background-color: white;
        text-align: center;
        width: 60%;
      }
      .txt-1 {
        font-size: 12px;
        text-align: left;
        width: 40%;
        line-height: 0.1;
      }
      .txt-2 {
        font-size: 12px;
        text-align: right;
        width: 60%;
        line-height: 0.1;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .footer1 {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    gap: 10px;
    .circle{
      border: 1px solid #c4c6d0;
      border-radius: 100%;
      display: flex;
      background-color: red;
    }
    .foot-card{
      border: 1px solid #c4c6d0;
      align-items: center;
      width: 50%;
      padding: 3px;
      border-radius: 50px;
      font-size: 14px;
      color: gray;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .foot-card1 {
      border: 1px solid #c4c6d0;
      align-items: center;
      gap: 3px;
      width: 100%;
      padding: 3px;
      border-radius: 50px;
      font-size: 12px;
      color: gray;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.header-box{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding-top: 50px;
}

.header-box1{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding-top: 50px;
}

.time-box {
  background: #ffffff;
  // padding: 2px;
  width: 25rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 2px solid #e4e4e7;
  border-radius: 6px;
  align-items: center;
  user-select: none;
  cursor: pointer;
  .activeIndexs {
    // padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F5;
    border-radius: 6px;
  }
  .body-slime-btn {
    text-wrap: nowrap;
    padding: 2px;
    display: flex;
    color: black;
    place-content: center;
    font-size: 14px;
    text-align: center;
  }
}
.cardt{
  border: 1px solid #c4c6d0;
  padding: 15px 15px 5px 15px;
  border-radius: 6px;

  .alert{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .t-box {
    display: flex;
    flex-direction: column;
    // width: 200px;
    gap: 20px;

    p {
      font-size: 24px;
      font-weight: 500;
    }
    .tcar-box {
      border: 1px solid #e7e7e7;
      background-color: #e7e7e7;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 20px 20px 20px 20px;
      gap: 10px;
      .unit {
        .txt-unit {
          font-size: 12px;
          font-weight: 500;
          margin-left: 10px;
          opacity: 0.8;
        }
      }
      span {
        font-size: 24px;
        font-weight: 700;
        opacity: 0.8;
      }
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .solar-box {
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      width: 100%;
      .box-1 {
        background-color: gray;
        text-align: center;
        width: 40%;
      }
      .box-2 {
        background-color: white;
        text-align: center;
        width: 60%;
      }
      .txt-1 {
        font-size: 12px;
        text-align: left;
        width: 40%;
        line-height: 0.1;
      }
      .txt-2 {
        font-size: 12px;
        text-align: right;
        width: 60%;
        line-height: 0.1;
      }
    }
  }
  .footert {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    span {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.box{
  background-color: #ffffff;
  border-radius: 15px;
  border-color: slategray;
  border-width: 1px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}
